<ng-container *ngIf="!(authService.currentUser$ | async ) as user;">
<mat-toolbar color="primary">

  <ng-container *ngIf="(authService.currentUser$ | async ) as user;">

    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon class="menu-icon" >menu</mat-icon>
      Menu
    </button>  
    
  </ng-container>

  <ng-container *ngIf="!(authService.currentUser$ | async ) as user;">     
    
  </ng-container>

    <span class="app-name" routerLink="landing">    

      <img src="./assets/images/logo_160.png" class="logo" />
      Project Zassets
    </span> 

      <ng-container *ngIf="(authService.currentUser$ | async) as user; else loginButton ">
                
        <button mat-button [mat-menu-trigger-for]="userMenu">
          
          <mat-icon>account_circle</mat-icon>
          
          {{ user.email}}

          <mat-icon>expand_more</mat-icon>
          
        </button>

      </ng-container>

      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>

      </ng-template>    

  </mat-toolbar>

  <ng-container *ngIf="(authService.currentUser$ | async ) as user;">

  <mat-drawer-container autosize>
     <mat-drawer #sidenav opened="true" mode="side">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button (click)="navToDashboard()"><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="navToComputers()"><mat-icon>assignment</mat-icon>Inventory</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>


</mat-drawer-container>


</ng-container>



  <mat-drawer-container autosize>
     <mat-drawer #sidenav opened="false" mode="side">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button (click)="navToDashboard()" ><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="navToComputers()"><mat-icon>assignment</mat-icon>Inventory</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>


  <mat-drawer-content>
    <div style="text-align:center; min-height:600px">
      <router-outlet></router-outlet>
      <div class="footer">
        Developed by <a href="https://www.noviimansa.com" target="_blank">Noviimansa</a> &copy; 2023
      </div>
    </div>
</mat-drawer-content>

</mat-drawer-container>

  


  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  
</ng-container>



<ng-container *ngIf="(authService.currentUser$ | async ) as user;">
  <mat-toolbar color="primary">
  
    <ng-container *ngIf="(authService.currentUser$ | async ) as user;">
  
      <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon class="menu-icon" >menu</mat-icon>
        Menu
      </button>  
      
    </ng-container>
    
      <span class="app-name" routerLink="landing">    
  
        <img src="./assets/images/logo_160.png" class="logo" />
        Project Zassets
      </span> 
  
        <ng-container *ngIf="(authService.currentUser$ | async) as user; else loginButton ">
                    
          <button mat-button [mat-menu-trigger-for]="userMenu">
            
            <mat-icon>account_circle</mat-icon>
            
            {{ user.email}}
  
            <mat-icon>expand_more</mat-icon>
            
          </button>
  
        </ng-container>
  
        <ng-template #loginButton>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
  
        </ng-template>
   
    </mat-toolbar>
  
    <mat-drawer-container autosize class="mat-drawer-custom">
       <mat-drawer #sidenav opened="true" mode="side" >
        <mat-nav-list>
          <mat-list-item>
            <button mat-button (click)="navToDashboard()"><mat-icon>dashboard</mat-icon> Dashboard</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="navToComputers()"><mat-icon>assignment</mat-icon>Inventory</button>
          </mat-list-item>
      </mat-nav-list>
      </mat-drawer>
  
  
    <mat-drawer-content>
      <div style="text-align:center; min-height:600px">
        <router-outlet></router-outlet>

        <div class="footer">
          Developed by <a href="https://www.noviimansa.com" target="_blank">Noviimansa</a> &copy; 2023
        </div>
      </div>

      
  </mat-drawer-content>
  
  </mat-drawer-container>

  
  
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    
  </ng-container>
